@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800;900&display=swap");
@import url("http://fonts.cdnfonts.com/css/circular-std");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Circular Std", sans-serif;
  height: 100%;
}

// global Tags

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

span {
  font-size: 0.9rem;
  color: aqua;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}
