@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800;900&display=swap");
@import url("http://fonts.cdnfonts.com/css/circular-std");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Circular Std", sans-serif;
  height: 100%; }

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #232355; }

h6 {
  font-size: 1.1rem;
  color: #181831; }

.ENSA {
  width: 8%;
  cursor: pointer; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: background-color 0.5s ease;
  padding: 1vw 8vw;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
  z-index: 1000;
  position: fixed; }
  header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    header .navigation ul li {
      list-style: none;
      margin-left: 30px; }
      header .navigation ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: 500;
        transition: 0.3s ease; }
      header .navigation ul li .nav-link {
        margin: 0 2rem;
        position: relative; }
      header .navigation ul li .nav-link::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: -3px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease; }
      header .navigation ul li .nav-link:hover::after {
        transform: scaleX(1); }

.scrolling-active {
  background-color: #2e2e2e;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1); }

.hamza {
  margin-top: 100px; }

#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("images/picture.jpg");
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #home .ibnzohr {
    width: 15%;
    margin-bottom: 20px; }
  #home h2 {
    color: white;
    font-size: 3.2rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 40px; }
  #home p {
    width: 65%;
    color: white;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px; }
  #home .btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 60px;
    line-height: 50px;
    font-size: 22px;
    text-decoration: none;
    font-weight: 400;
    color: white;
    border: 3px solid white;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    transition: all 0.35s; }
  #home .btn1 span {
    position: relative;
    z-index: 2; }
  #home .btn1:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #bc2c2c;
    transition: all 0.35s; }
  #home .btn1:hover {
    color: #fff; }
  #home .btn1:hover:after {
    width: 100%; }
